<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Page-Enter" content="blendTrans(Duration=0.5)" />
  <title>联系我们</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="__CDN__/assets/addons/wdsxh/css/normalize.css" />
  <link rel="stylesheet" href="__CDN__/assets/addons/wdsxh/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__CDN__/assets/addons/wdsxh/css/public.css" />
  <link rel="stylesheet" href="__CDN__/assets/addons/wdsxh/css/contact.css" />
</head>

<body>
  <div class="contact-container container-fluid">
    <!-- 头部导航栏模块 -->
    <header class="container-header" data-type="contact">{include file="header" /}</header>
    <!-- 顶部大图 -->
    <div class="container-banner row">
      <img class="banner-image">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="banner-title">
          <span class="title">联系我们</span>
          <span class="subtitle">contact us</span>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <!-- 内容区 -->
    <main class="container-main row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="main-title">
          <div class="title">联系我们</div>
          <div class="subtitle">contact us</div>
        </div>
        <div class="main-content">
          <div class="item">
            <div class="item-title">电话</div>
            <div class="item-cont phone"></div>
          </div>
          <div class="item">
            <div class="item-title">地址</div>
            <div class="item-cont address"></div>
          </div>
          <div class="item">
            <div class="item-title">邮箱</div>
            <div class="item-cont email"></div>
          </div>
          <div class="item">
            <div class="item-title">二维码</div>
            <img class="item-code">
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </main>
    <!-- 底部 -->
    <footer class="container-footer">{include file="footer" /}</footer>
  </div>
  <script src="__CDN__/assets/addons/wdsxh/common/jquery.min.js"></script>
  <script src="__CDN__/assets/addons/wdsxh/common/bootstrap.min.js"></script>
  <script src="__CDN__/assets/addons/wdsxh/js/main.js"></script>
  <script src="__CDN__/assets/addons/wdsxh/js/public.js"></script>
</body>

</html>