<div class="component-footer row">
  <div class="col-2"></div>
  <div class="col-8 flex-column align-items-center">
    <div class="footer-logo flex align-items-center">
      <img>
      <span class="title"></span>
    </div>
    <div class="footer-info flex flex-wrap justify-content-center">
      <span class="address">地址：</span>
      <span class="email">邮箱：</span>
      <span class="phone">电话：</span>
    </div>
    <div class="footer-info">
      <span>Copyright © <b></b> All Rights Reserved</span>
      <span>网站备案号：<a class="website" href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank"></a></span>
      <span>公安备案号：<a class="police" href="https://beian.mps.gov.cn/#/query/webSearch" target="_blank"></a></span>
    </div>
  </div>
  <div class="col-2"></div>
</div>