<div class="component-header">
  <div class="header-top row">
    <div class="col-2"></div>
    <div class="col-8 name"></div>
    <div class="col-2"></div>
  </div>
  <nav class="header-nav row">
    <div class="col-2"></div>
    <div class="col-8 flex align-items-center justify-content-between">
      <a class="nav-logo flex align-items-center" href="{:addon_url('wdsxh/index/index')}">
        <img>
        <h1 class="title"></h1>
      </a>
      <!-- pc端导航栏 -->
      <div class="flex-item flex justify-content-end nav-normal">
        <ul class="nav-box flex flex-wrap">
          <li class="nav-item index">
            <a href="{:addon_url('wdsxh/index/index')}">网站首页</a>
          </li>
          <li class="nav-item about">
            <a href="{:addon_url('wdsxh/index/about')}"><i class="versionName"></i>信息</a>
          </li>
          <li class="nav-item membership">
            <a href="{:addon_url('wdsxh/index/membership')}">会员风采</a>
          </li>
          <li class="nav-item activity">
            <a href="{:addon_url('wdsxh/index/activity')}"><i class="versionName"></i>活动</a>
          </li>
          <li class="nav-item album">
            <a href="{:addon_url('wdsxh/index/album')}">活动相册</a>
          </li>
          <li class="nav-item business">
            <a href="{:addon_url('wdsxh/index/business')}">供需大厅</a>
          </li>
          <li class="nav-item news">
            <a href="{:addon_url('wdsxh/index/news')}"><i class="versionName"></i>新闻</a>
          </li>
          <li class="nav-item contact">
            <a href="{:addon_url('wdsxh/index/contact')}">联系我们</a>
          </li>
        </ul>
      </div>
      <!-- 移动端导航栏 -->
      <div class="nav-mobile">
        <button type="button" id="navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-list">
          <ul>
            <li class="nav-item index">
              <a href="{:addon_url('wdsxh/index/index')}">网站首页</a>
            </li>
            <li class="nav-item about">
              <a href="{:addon_url('wdsxh/index/about')}"><i class="versionName"></i>信息</a>
            </li>
            <li class="nav-item membership">
              <a href="{:addon_url('wdsxh/index/membership')}">会员风采</a>
            </li>
            <li class="nav-item activity">
              <a href="{:addon_url('wdsxh/index/activity')}"><i class="versionName"></i>活动</a>
            </li>
            <li class="nav-item album">
              <a href="{:addon_url('wdsxh/index/album')}">活动相册</a>
            </li>
            <li class="nav-item business">
              <a href="{:addon_url('wdsxh/index/business')}">供需大厅</a>
            </li>
            <li class="nav-item news">
              <a href="{:addon_url('wdsxh/index/news')}"><i class="versionName"></i>新闻</a>
            </li>
            <li class="nav-item contact">
              <a href="{:addon_url('wdsxh/index/contact')}">联系我们</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </nav>
</div>