<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Page-Enter" content="blendTrans(Duration=0.5)" />
  <title></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="__CDN__/assets/addons/wdsxh/css/normalize.css" />
  <link rel="stylesheet" href="__CDN__/assets/addons/wdsxh/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__CDN__/assets/addons/wdsxh/css/public.css" />
  <link rel="stylesheet" href="__CDN__/assets/addons/wdsxh/css/news.css" />
</head>

<body>
  <div class="news-container container-fluid">
    <!-- 头部导航栏模块 -->
    <header class="container-header" data-type="news">{include file="header" /}</header>
    <!-- 顶部大图 -->
    <div class="container-banner row">
      <img class="banner-image">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="banner-title">
          <span class="title"><i class="versionName"></i>新闻</span>
          <span class="subtitle">news</span>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <!-- 内容区 -->
    <main class="container-main">
      <div class="main-screen row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="screen-box" id="screen">
            <div class="item active">全部</div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="main-content row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="column-cont"></div>
          <div class="empty">
            <img src="__CDN__/assets/addons/wdsxh/img/empty.png">
            <span>暂无数据</span>
          </div>
          <div id="page"></div>
        </div>
        <div class="col-2"></div>
      </div>
    </main>
    <!-- 底部 -->
    <footer class="container-footer">{include file="footer" /}</footer>
  </div>
  <script src="__CDN__/assets/addons/wdsxh/common/jquery.min.js"></script>
  <script src="__CDN__/assets/addons/wdsxh/common/bootstrap.min.js"></script>
  <script src="__CDN__/assets/addons/wdsxh/common/xlPaging.js"></script>
  <script src="__CDN__/assets/addons/wdsxh/js/main.js"></script>
  <script src="__CDN__/assets/addons/wdsxh/js/public.js"></script>
  <script src="__CDN__/assets/addons/wdsxh/js/news.js"></script>
</body>

</html>