<div class="main-left">
  <div class="left-title">基础组件</div>
  <div class="left-list">
    <!-- 轮播图 -->
    <div class="list-item" @click="handleAdd('carouselDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/carousel.png">
      <div class="item-name">轮播图</div>
    </div>
    <!-- 单图组 -->
    <div class="list-item" @click="handleAdd('imagesDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/images.png">
      <div class="item-name">单图组</div>
    </div>
    <!-- 导航组 -->
    <div class="list-item" @click="handleAdd('navDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/nav.png">
      <div class="item-name">导航组</div>
    </div>
    <!-- 图片魔方 -->
    <div class="list-item" @click="handleAdd('cubeDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/cube.png">
      <div class="item-name">图片魔方</div>
    </div>
    <!-- 信息卡片 -->
    <div class="list-item" @click="handleAdd('infoCardDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/infoCard.png">
      <div class="item-name">信息卡片</div>
    </div>
    <!-- 按钮组 -->
    <div class="list-item" @click="handleAdd('textButtonDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/button.png">
      <div class="item-name">按钮组</div>
    </div>
    <!-- 标题 -->
    <div class="list-item" @click="handleAdd('titleDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/title.png">
      <div class="item-name">标题</div>
    </div>
    <!-- 视频 -->
    <div class="list-item" @click="handleAdd('videoDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/video.png">
      <div class="item-name">视频</div>
    </div>
    <!-- 地图 -->
    <div class="list-item" @click="handleAdd('mapDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/map.png">
      <div class="item-name">地图</div>
    </div>
    <!-- 新闻资讯 -->
    <div class="list-item" @click="handleAdd('articleDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/article.png">
      <div class="item-name">新闻资讯</div>
    </div>
    <!-- 商会介绍 -->
    <div class="list-item" @click="handleAdd('introduceDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/introduce.png">
      <div class="item-name">商会介绍</div>
    </div>
    <!-- 会员展示 -->
    <div class="list-item" @click="handleAdd('memberDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/member.png">
      <div class="item-name">会员展示</div>
    </div>
    <!-- 商会活动 -->
    <div class="list-item" @click="handleAdd('activityDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/activity.png">
      <div class="item-name">商会活动</div>
    </div>
    <!-- 活动接龙 -->
    <div class="list-item" @click="handleAdd('chainsDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/chains.png">
      <div class="item-name">活动接龙</div>
    </div>
    <!-- 活动相册 -->
    <div class="list-item" @click="handleAdd('albumDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/album.png">
      <div class="item-name">活动相册</div>
    </div>
    <!-- 商城商品 -->
    <div class="list-item" @click="handleAdd('goodsDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/goods.png">
      <div class="item-name">商城商品</div>
    </div>
    <!-- 会员供需 -->
    <div class="list-item" @click="handleAdd('demandDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/demand.png">
      <div class="item-name">会员供需</div>
    </div>
    <!-- 会员地图 -->
    <div class="list-item" @click="handleAdd('memberMapDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/memberMap.png">
      <div class="item-name">会员地图</div>
    </div>
    <!-- 搜索 -->
    <div class="list-item" @click="handleAdd('searchDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/search.png">
      <div class="item-name">搜索</div>
    </div>
  </div>
  <div class="left-title">工具组件</div>
  <div class="left-list">
    <!-- 辅助线条 -->
    <div class="list-item" @click="handleAdd('lineDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/line.png">
      <div class="item-name">辅助线条</div>
    </div>
    <!-- 辅助空白 -->
    <div class="list-item" @click="handleAdd('blankDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/blank.png">
      <div class="item-name">辅助空白</div>
    </div>
    <!-- 消息通知 -->
    <div class="list-item" @click="handleAdd('noticeDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/notice.png">
      <div class="item-name">消息通知</div>
    </div>
    <!-- 文本组 -->
    <div class="list-item" @click="handleAdd('textDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/text.png">
      <div class="item-name">文本组</div>
    </div>
    <!-- 富文本 -->
    <div class="list-item" @click="handleAdd('richTextDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/richText.png">
      <div class="item-name">富文本</div>
    </div>
    <!-- 警告提示 -->
    <div class="list-item" @click="handleAdd('warnDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/warn.png">
      <div class="item-name">警告提示</div>
    </div>
    <!-- 时间线 -->
    <div class="list-item" @click="handleAdd('timelineDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/timeline.png">
      <div class="item-name">时间线</div>
    </div>
    <!-- 悬浮按钮 -->
    <div class="list-item" @click="handleAdd('floatDiy')">
      <img class="item-icon" src="/assets/addons/wdsxh/img/icon/float.png">
      <div class="item-name">悬浮按钮</div>
    </div>
  </div>
</div>