<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">过期接龙是否展示:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label for="row[expired_jielong_show]-1"><input id="row[expired_jielong_show]-1" name="row[expired_jielong_show]" type="radio" value="1" {if $row.expired_jielong_show == 1}checked{/if} /> 展示</label>
                <label for="row[expired_jielong_show]-2"><input id="row[expired_jielong_show]-2" name="row[expired_jielong_show]" type="radio" value="2" {if $row.expired_jielong_show == 2}checked{/if} /> 不展示</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('分享图片')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-jielong_img" class="form-control" size="50" name="row[jielong_img]" type="text" value="{$row.jielong_img|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-jielong_img" class="btn btn-danger faupload" data-input-id="c-jielong_img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-jielong_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-jielong_img" class="btn btn-primary fachoose" data-input-id="c-jielong_img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-jielong_img"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-jielong_img"></ul>
        </div>
        <div></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            背景图建议尺寸: 宽248px 高241px
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed">{:__('OK')}</button>
        </div>
    </div>
</form>
